body{
    margin: 0;
    padding: 0;
}

.hero_section{
    background-image: url(./assets/photography-1751134130848-4183.jpg); 
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    color: white;
    padding-left: 15%;
}

.hero_name {
    font-size: 6rem;
}

.hero_sub{
     font-size: 3.4rem;
}

.hero_section_btn{
    margin-top: 2rem;
    position: relative;
    left: 15%;
    width: fit-content;
}

.hero_contact{
}

.resume_section{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.res_skills{
    font-size: 4rem;
    color: rgb(196, 52, 52);
}

.skill_html5{
    height: 3.5rem;
    margin-right: 0.5rem;
    margin-top: 10px;
}

.skill_css3{
    height: 5rem;
    margin-right: 0.5rem;
}

.skill_java{
    margin-right: 0.5rem;
    margin-top: -10px;
}

.skill_bs{
    margin-right: 0.5rem;
    margin-top: -10px;
}