body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    padding-top: 80px;
}

html {
    scroll-behavior: smooth;
}

.gradient-background {
    background: linear-gradient(300deg, #000000, gray, rgb(0, 0, 0));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Nav bar */

.nav-link {
    color: #000000;
    transition: 0.5s;
}

.nav-link:hover {
    color: red;
}

/* Part 1 */

.hero_section {
    background-image: url(./assets/photography-1751134130848-4183.jpg);
    height: 800px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.cursor {
    display: inline-block;
    font-weight: bold;
    color: white;
    animation: blink 0.7s ease-in-out infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.text {
    color: white;
}

.hero_name {
    font-size: 5.5rem;
}

.hero_sub {
    font-size: 3.4rem;
}

.hero_section_btn {
    margin-top: 2rem;
    position: relative;
    left: 15%;
    /* width: fit-content; */
}

.resume-btn {
  background-color: white;
  color: black;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.resume-btn:hover {
  background: linear-gradient(135deg, #ff8383, #ff4d4d);
  color: white;
}

.hero_img {
    width: 100%;
    max-width: 70%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px white;
}

@media (max-width: 766px) {
    .hero_img {
        margin-left: 22%;
        margin-right: 0;
        max-width: 80%;
    }
}

/* Part 2 */
.resume_section {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.subhead__ {
    font-size: 4rem;
    color: rgb(196, 52, 52);
}

.skill_html5 {
    height: 3.5rem;
    margin-right: 0.5rem;
    margin-top: 10px;
}

.skill_css3 {
    height: 5rem;
    margin-right: 0.5rem;
}

.skill_java {
    margin-right: 0.5rem;
    margin-top: -10px;
}

.skill_bs {
    margin-right: 0.5rem;
    margin-top: -10px;
}

.skill_git {
    margin-right: 0.5rem;
    margin-top: -10px;
}

/* About me */

.about_linkedIn {
    margin-left: 5px;
}
